BASE_URL=
DATABASE_URL=
ADMIN_EMAIL=
SMS_CODE_VALID_DURATION_IN_MINUTES=5
ACCESS_SESSION_DURATION_IN_MINUTES=30
REFRESH_SESSION_DURATION_IN_MINUTES=
RESET_PASSWORD_CODE_VALID_DURATION_IN_MINUTES=
TWILIO_PHONE_NUMBER=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_SID=
API_KEY=
SECRET=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=
MAIL_TLS=
MAIL_SSL=
USE_CREDENTIALS=
VALIDATE_CERTS=
DEFAULT_MAIL_SUBJECT=

USE_S3=
APS_COALESCE=
APS_MAX_INSTANCES=
APS_MISFIRE_GRACE_TIME=
APS_THREAD_POOL_MAX_WORKERS=
APS_PROCESS_POOL_MAX_WORKERS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_ACL=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_OBJECT_CACHE_CONTROL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USER=
REDIS_NODE=